<% @page_title="支付明细" %>
<hr>

<%=link_to '返回',:back%>
<div id="online_pay_details_content">
	<table id="online_pay_single_content">
		<%= render partial: "online_pay_detail_title" %>
		<%= render partial: "online_pay_detail_content",locals: {online_pay: @online_pay} %>
	</table>
</div>