$('.tr_relpace').remove()
$('#merchant_details_table').append("<%= escape_javascript(render partial: 'merchant_index',collection: @merchants,as: :merchant) %>")
$('.div_paginate').replaceWith("<div class='div_paginate'> <%= escape_javascript(render partial: 'layouts/paginate_replace_ajax',locals: {page_array: @users}) %> </div>")