/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

 #banner{
	background: #9c9;
	color: #282;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
}

#side{
	float:left;
	width: 10em;
/*	background: #191;	
	height:500px;		*/
	padding-top: 1em;
	font-size: 14px;
}
#side_admin{
	margin-top: 5em;
	font-size: 12px;
}
#side_simulation{
	margin-top: 5em;
}

#main{
	margin-top:1em;
	margin-left:10em;
}


#side_simulation_display_none{
	display: none;
}