// Place all the styles related to the online_pay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#online_pay_details_table,online_pay_single_content{
	width:95%;
	table-layout:fixed;
	word-break: break-all;
}

.td_50{
	width:50px;
}